<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <nav style="background-color: #872254;">
    <ul style="display: flex; list-style: none; justify-content: flex-end; padding: 10px;">
      <li style="margin-right: 10px;"><a href="/catmocks">Cat Mocks</a></li>
      <li style="margin-right: 10px;"><a href="/connect">Connect</a></li>
      <% if (user) { %>
        <li style="margin-right: 10px;"><a href="/logout">Logout</a></li>
      <% } else { %>
        <li style="margin-right: 10px;"><a href="/login">Login</a></li>
      <% } %>
      <li><a href="/colleges">Colleges</a></li>
    </ul>
  </nav>

  <div class="container">
    <h1>Latest Posts</h1>
    <% posts.forEach(function(post) { %>
      <div>
        <h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
        <p>
          <button class="upvote-button <%= user && post.upvotes.includes(user._id) ? 'upvoted' : '' %>" data-post-id="<%= post._id %>">
            <span class="upvote-arrow"></span>
          </button>
          
          <span class="upvote-count"><%= post.points %></span> points by <%= post.author.username %> |
          <a class="comments-link" href="/posts/<%= post._id %>/comments" data-comment-count="<%= post.comments.length %>">Comments (<%= post.comments.length %>)</a>

          
        </p>
      </div>
    <% }); %>
    <% if (user) { %>
      <div style="text-align: right; margin-top: 20px;">
        <a href="/compose">Add a new post</a>
      </div>
    <% } %>
  </div>

  <script src="/main.js"></script> <!-- Updated script source -->

</body>
</html>
