<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="background-color: #d7d6d7;"> <!-- Set background color to off-white -->

  <nav style="background-color: #872254;">
    <ul style="display: flex; list-style: none; justify-content: center; align-items: center; padding: 10px;"> <!-- Change justify-content to center -->
      <li style="flex-grow: 2;"><h1 style="margin: 0; text-align: end; padding-right: 300px;">MBA Raasta</h1></li>
      <li style="margin-right: 10px; margin-left: 30px;"><a href="/catmocks">Cat Mocks</a></li> <!-- Add margin-left -->
      <li style="margin-right: 10px;"><a href="/connect">Connect</a></li>
      <li style="margin-right: 10px;"><a href="/colleges">Colleges</a></li>
      <% if (user) { %>
        <li style="margin-right: 10px;"><a href="/logout">Logout</a></li>
       
      <% } else { %>
        <li style="margin-right: 10px;"><a href="/login">Login</a></li>
      <% } %>
      <li style="margin-right: 10px;"><a href="/compose">Add a new post</a></li>
      
    </ul>
  </nav>

  <div class="container">
    <h2>Latest Posts</h2>
    <% posts.forEach(function(post) { %>
      <div>
        <h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
        <p>
          <span class="upvote-count"><%= post.points %></span>
          <button class="upvote-button <%= user && post.upvotes.includes(user._id) ? 'upvoted' : '' %>" data-post-id="<%= post._id %>">
            <span class="upvote-arrow"></span>
          </button>
          | Post by <%= post.author.username %> |
          <a class="comments-link" href="/posts/<%= post._id %>/comments" data-comment-count="<%= post.comments.length %>">Comments (<%= post.comments.length %>)</a>
        </p>
      </div>
    <% }); %>
  </div>

  <script src="/main.js"></script>

</body>
</html>
