<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- Add your stylesheets and other resources here -->
</head>
<body>
  <%- include('navbar') %>

  <h1>HOME</h1>
  <p><%=startingContent%></p>

  <%console.log(posts)%>

  <% posts.forEach(function(post){ %>
    <h1><%=post.title%></h1>
    <p><%=post.content.substring(0,100)+"..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
  <% }); %>

  <% if (user) { %>
    <!-- Comment functionality goes here -->
  <% } else { %>
    <p>Please <a href="/login">login</a> to leave a comment.</p>
  <% } %>
  
</body>
</html>
