<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post.title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <% include('navbar') %>

  <div class="container">
    <h1><%= post.title %></h1>
    <p>By <%= post.author.username %></p>
    <hr>
    <p><%= post.content %></p>
    <hr>
    <a href="/posts/<%= post._id %>/comments">Comments</a>
  </div>

</body>
</html>
